# **Data Types and Structures Questions**

1. What are data structures, and why are they important?
    - Data structure is a way of organising and storing data so that it can be accessed and manipulated efficiently. They are important because allow program to perform operations on data on the basis of their nature. By choosing the right data structure, programmer can significantly improve their code.  
    Examples - list, strings, tuple, set, etc.

2.  Explain the difference between mutable and immutable data types with examples.
    - **mutable data types**  
    mutable data types are those whose values or elements can be changed or modiftied after they are created. When a mutable object is modified its identity/memory location remains same.   
    Examples - list, dictionary, set  

    - **immutable data types**  
    immutable data types are those whose values or elements can not be changed or modified after they are created. Any operation that change an immutable object actually creat a new object that have the modified value, while the original object remains same.  
    Examples - string, tuple, frozenset

3. What are the main differences between lists and tuples in Python?  
    - lists are mutable, meaning their elements can be modified after creation, But tuples are immutable, which means their elements can not be modified after tuple is created.  
    
    - lists are defined using square bracket[], But tuples are defined using parenthesis().   

    - lists are suitable for collections of items where modification, addition, or deletion of elements is required, such as a shoping list. Whereas tuples are suitable for collections of items that should remain unchanged and constant, like a database records. tuples are often used when data integrity is important.

4. Describe how dictionaries store data.
      - Dictionaries are a data structure that store data as a key-value pair. Each key within the dictionary must be unique, while the value can be duplicated. In dictionaries the key acts as a unique identifier for retrieving the value.
      - In dictionaries you can only access value using key, vice-versa not possible.

5. Why might you use a set instead of a list in Python?
    - Sets store only unique elements. If duplicate values are added, they are automatically discarded. This is beneficial when maintaining a collection such as unique IDs, email addresses, etc.
    - Unlike lists, sets do not maintain the order of elements. If the sequence of elements is not relevant to the application, using a set can be suitable.  
    - Sets provide built-in methods for common mathematical set operations like union, intersection, difference, and symmetric difference. These operations are efficient for comparing and combining collections of unique elements.

6.  What is a string in Python, and how is it different from a list?
    - In python string is a squence of characters, represents the textual data. Strings are immutable. Strings are enclosed in single quotes, double quotes or triple quotes for multi-line string.  
    **The key differences between string and list are :**  
    - Strings are immutable and lists are mutable.
    - Strings store textual data, But lists can store any data type.
    - Strings are represented by characters within quotes whereas lists are represented by elements in square bracket.

7. How do tuples ensure data integrity in Python?
    - Tuples are immutable. They can't be modified once created. This speciality of tuples provides guarantee of data integrity. Since elements cannot be changed, there is no risk of accidental or unintentional alterations to the data stored within a tuple. This is important for data that should remain constant and unchanged, such as database records, unique ids, etc.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that implements an associative array, also known as a dictionary or map. It stores data in key-value pairs, where each key is mapped to a specific memory location using a hash function. This hash function takes the key as input and produces an integer value (the hash code), which is then used to determine the storage location of the corresponding value.  
    - Python dictionaries use a hash table as their fundamental data structure for storing key-value pairs. When you create a dictionary and add key-value pairs, Python internally uses a hash table to store and retrieve this data efficiently.

9. Can lists contain different data types in Python?
    - Yes, lists can store different data types in python such as integer, float, string, bool, etc.

10. Explain why strings are immutable in Python.
    - By preventing modification, immutability ensures that a string's value remains consistent. This prevents unexpected side effects and makes code easier to debug. Immutability makes strings hashable, which is a requirement for objects to be used as keys in dictionaries or elements in sets.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries improve code readability by associating data with descriptive keys instead of relying on numerical indices, which is particularly useful when the order of data isn't important and you need to access items by their name or identifier. Dictionaries use hash tables to provide very quick access to values using their associated keys. This is important to access values in large databases. Dictionaries are crucial when you need to store related pieces of information and want to access them using a specific, meaningful identifier.

12. Describe a scenario where using a tuple would be preferable over a list.
    - Imagine when we want to creat employee id in database and that should not be changed. In this scenario tuple would be preferable over a list because list can be modified and the employee id can be changed but we don't want the employee id to be changed. As we know that tuples are immutable by behaviour so the employee id created within tuple won't be changed.

13. How do sets handle duplicate values in Python?
    - In python sets are designed to store only unique elements. If programmer attempts to add a duplicate value in set, the set simply ignore the addition and automatically delete the duplicate values. The existing element remains same and the duplicate element is not added.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The "in" keyword in Python functions differently when used with lists and dictionaries due to their underlying data structures and how they store and retrieve data. In lists "in" keyword checks for the presence of specific element within the list. But when "in" is used with a dictionary it checks for the presence of a specific key within the dictionary, It does not check for values directly.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, the elements of a tuple cannot be modified directly after its creation. This is because tuples are immutable data structures in Python. Once a tuple is defined and its elements are created, its elements cannot be changed, added, or removed. Attempting to modify an element directly, like my_tuple[0] = new_value, will result in a TypeError.

16. What is a nested dictionary, and give an example of its use case?
    - Nested dictionary is a dicitionary where the values associated with the keys are themselves other dictionaries. This is like dictionaries within the dictionary. Nested dictionaries allows to represent the complex data. A common use case for nested dictionaries is representing data with multiple levels of detail, such as employee's name, age, height, experience, etc.  
    **Example**
    - Consider storing information about multiple employees, where each employee has various details like name, age, gender. A nested dictionary is useful in such conditions.  
    
    employees_id = {  
      "employee_1" : {"name" : "Gaurav", "age" : 22, "gender" : "Male"}  
      "employee_2" : {"name" : "Asha", "age" : 19, "gender" : "Female"}}

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements in a dictionary generally has an average time complexity of O(1), which stands for constant time. This means that, on average, the time it takes to retrieve a value using its key does not significantly increase with the size of the dictionary. When a key-value pair is added, a hash function converts the key into a hash value, which then determines the memory location where the value is stored. When retrieving a value, the same hash function is applied to the key, allowing for direct access to the corresponding memory location and the associated value.

18. In what situations are lists preferred over dictionaries?
    - Lists are preferred over dictionaries when the order of elements is important, you need to perform sequential operations, or when you simply require a collection of items that can be accessed by their position (index). They are also suitable for storing duplicate values and are generally better for iterating over all items in a collection.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because the elements within the dictionary are not in specific predictable sequence and they don't have a fix position in dictionary. This fundamental characteristic means that data retrieval relies entirely on key-based access because the elements in dictionaries can't be accessed by thier index number because they don't really have a fix position. To retrieve data from a dictionary, you must provide the specific key that returns the value you want.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - In data retrieval, lists are accessed by their numeric indices (like positions in a sequence), while dictionaries are accessed by their unique keys. Lists are ordered collection elements, allowing for positional access, while dictionaries are unordered key-value pairs, designed for direct access by key. Retrieving an element from a list can be slower, especially for large lists, Whereas dictionaries are much faster for retrieving a specific item.

# **Practical Questions**

In [ ]:
# Que.1 Write a code to create a string with your name and print it.

name = "Gaurav"
print(name, type(name))

Gaurav <class 'str'>

In [ ]:
# Que.2 Write a code to find the length of the string "Hello World".

string = "Hello World"
print(len(string))

11

In [ ]:
# Que.3 Write a code to slice the first 3 characters from the string "Python Programming".

string = "Python Programming"
print(string[0:3])

Pyt

In [ ]:
# Que.4 Write a code to convert the string "hello" to uppercase.

string = "hello"
string.upper()

'HELLO'

In [ ]:
# Que.5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

string = "I like apple"
string.replace("apple", "orange")

'I like orange'

In [ ]:
# Que.6 Write a code to create a list with numbers 1 to 5 and print it.

lst = []
for i in range(1, 6):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# Que.7 Write a code to append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
# Que.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
# Que.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
# Que.10 Write a code to reverse the list [10, 20, 30, 40, 50].

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
# Que.11  Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup_le = (100, 200, 300)
print(tup_le)

(100, 200, 300)

In [1]:
# Que.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [2]:
# Que.13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup = (10, 20, 5, 15)
print(min(tup))

5

In [3]:
# Que.14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup = ('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [4]:
# Que.15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tup = ('apple', 'banana', 'orange')
print('kiwi' in tup)

False

In [5]:
# Que.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set_1 = {'a', 'b', 'c'}
print(set_1)

{'c', 'a', 'b'}

In [6]:
# Que.17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set_1 = {1, 2, 3, 4, 5}
set_1.clear()
print(set_1)

set()

In [7]:
# Que.18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set_1 = {1, 2, 3, 4}
set_1.remove(4)
print(set_1)

{1, 2, 3}

In [8]:
# Que.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [9]:
# Que.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection(set2)

{2, 3}

In [10]:
# Que.21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name" : "Honey", "age" : 24, "city" : "Jaipur"}
print(my_dict)

{'name': 'Honey', 'age': 24, 'city': 'Jaipur'}

In [11]:
# Que.22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict1 = {'name': 'John', 'age': 25}
dict1['country'] = 'USA'
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [12]:
# Que.23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict1 = {'name': 'Alice', 'age': 30}
print(dict1['name'])

Alice

In [13]:
# Que.24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [14]:
# Que.25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict1 = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict1)

True

In [20]:
# Que.26  Write a code to create a list, a tuple, and a dictionary, and print them all.

lst = [1, 2, 3, 'joey', 'alpha']
tup = (8, 9, 67, 'mango', 674,)
dct = {"name": "Lucky", "age": 22,}
print(lst, tup, dct)

[1, 2, 3, 'joey', 'alpha'] (8, 9, 67, 'mango', 674) {'name': 'Lucky', 'age': 22}

In [21]:
# Que.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

lst = [54, 96, 69, 34, 23]
sorted_lst = sorted(lst)
print(sorted_lst)

[23, 34, 54, 69, 96]

In [22]:
# Que.28 Write a code to create a list with strings and print the element at the third index.

my_list = ['apple', 'banana', 'orange', 'kiwi', 'mango']
print(my_list[2])

orange

In [24]:
# Que.29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [25]:
# Que.30 Write a code to convert a list of strings into a set.

my_list = ['apple', 'banana', 'orange', 'kiwi', 'mango']
my_set = set(my_list)
print(my_set)

{'kiwi', 'apple', 'mango', 'banana', 'orange'}